<p>Olá, <strong>{{ deliveryman }}</strong></p>
<p>Devido aos problemas relatados, a entrega de number {{deliveryNumber}} foi cancelada</p>
<p>Principal motivo: {{ problem }}</p>
<p><strong>Produto: </strong> {{ product }}</p>
<p>Endereço: {{ address }}</p>
<br>

